body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 5px; */
    font-family: 'Lato', sans-serif;
    text-align: center;
    background-image: url("images/Artboard-1.png")
    /* background-color: #E75151; */
    /* background-image: url("images/round.png") */
}
header {
    background-color: #A13939;
    height: 125px;
    padding: 30px 5px 5px 5px;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 5vh;
    font-weight: bold;
    font-family: 'Bungee', cursive;
    height: 125px;
    color: #FCC88A;
    /* background-color: rgba(214, 247, 254, .8); */
    padding: 2px 0px;
    width: 100%;
}
    @keyframes rubberBand {
        from {
          transform: scale3d(1, 1, 1);
        }
      
        30% {
          transform: scale3d(1.25, 0.75, 1);
        }
      
        40% {
          transform: scale3d(0.75, 1.25, 1);
        }
      
        50% {
          transform: scale3d(1.15, 0.85, 1);
        }
      
        65% {
          transform: scale3d(.95, 1.05, 1);
        }
      
        75% {
          transform: scale3d(1.05, .95, 1);
        }
      
        to {
          transform: scale3d(1, 1, 1);
        }
      }
      
      .rubberBand {
        animation-name: rubberBand;
      }

.grid-container {
    width: 80%;
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100px 100px 100px 100px 100px;
    padding: 20px 10px;
}

.boxcat {
    background-color: #C2C57F;
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    font-size: 150%;
    text-align: center;
    margin: 3px;
    height: 80px;
    font-weight: bold;
  }
.box {
    /* background-color: #444; */
    background-color: #FCC88A;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: calc(30px + .25vw);
    text-align: center;
    margin: 3px;
    height: 40px;
  }
.box:hover {
    background-color: #A13939;
    color: 
    cursor: pointer;
}

.used-box {
    background-color: rgb(106, 63, 27);
    color: rgb(145, 143, 143);
    border-radius: 5px;
    padding: 30px;
    font-size: 100%;
    text-align: center;
    margin: 3px;
  }

#final-trivia {
    background-color: rgb(46, 70, 105);
    color: #fff;
    border-radius: 5px;
    padding: 30px;
    font-size: 100%;
    text-align: center;
    margin: 3px;
}

h2 {
    font-family: 'Bungee', cursive;
}
.score {
    background-color: rgb(71, 41, 67);
    color: #fff;
    border-radius: 5px;
    padding: 50px;
    font-weight: bold;
    text-align: center;
    margin: 3px; 
}